<!DOCTYPE html>
<html>
  <head>
    <title>Add Details</title>
  </head>
  <body>
    <h1>Add Details</h1>
    <form action="/new" method="POST">
      <label for="name">Name:</label><br>
      <input type="text" id="name" name="name"><br><br>
      <label for="message">Message:</label><br>
      <input type="text" id="message" name="message">
      <input type="submit" value="Submit" name="submit">
    </form>
  </body>
</html>
